/* styles/global.css */
@keyframes dominos {
  50% {
    opacity: 0.7;
  }
  75% {
    transform: rotate(90deg);
  }
  80% {
    opacity: 1;
  }
}

@keyframes dominos1 {
  50% {
    opacity: 0.7;
  }
  75% {
    transform: rotate(90deg);
  }
  80% {
    opacity: 1;
  }
}

@keyframes dominos2 {
  50% {
    opacity: 0.7;
  }
  75% {
    transform: rotate(90deg);
  }
  80% {
    opacity: 1;
  }
}

@keyframes dominos3 {
  50% {
    opacity: 0.7;
  }
  75% {
    transform: rotate(90deg);
  }
  80% {
    opacity: 1;
  }
}

@keyframes dominos4 {
  50% {
    opacity: 0.7;
  }
  75% {
    transform: rotate(90deg);
  }
  80% {
    opacity: 1;
  }
}

@keyframes dominos5 {
  50% {
    opacity: 0.7;
  }
  75% {
    transform: rotate(90deg);
  }
  80% {
    opacity: 1;
  }
}

@keyframes dominos6 {
  50% {
    opacity: 0.7;
  }
  75% {
    transform: rotate(90deg);
  }
  80% {
    opacity: 1;
  }
}

@keyframes dominos7 {
  50% {
    opacity: 0.7;
  }
  75% {
    transform: rotate(90deg);
  }
  80% {
    opacity: 1;
  }
}

.animate-dominos {
  animation: dominos 1s ease infinite;
  animation-delay: 0s;
}

.animate-dominos1 {
  animation: dominos1 1.2s ease infinite;
  animation-delay: 0.1s;
}

.animate-dominos2 {
  animation: dominos2 1.3s ease infinite;
  animation-delay: 0.2s;
}

.animate-dominos3 {
  animation: dominos3 1.4s ease infinite;
  animation-delay: 0.3s;
}

.animate-dominos4 {
  animation: dominos4 1.5s ease infinite;
  animation-delay: 0.4s;
}

.animate-dominos5 {
  animation: dominos5 1.6s ease infinite;
  animation-delay: 0.5s;
}

.animate-dominos6 {
  animation: dominos6 1.7s ease infinite;
  animation-delay: 0.6s;
}

.animate-dominos7 {
  animation: dominos7 1.8s ease infinite;
  animation-delay: 0.7s;
}
