.swiper-pagination-bullet {
    background: #4CAF50; /* Warna titik default */
    transition: background 0.3s ease, transform 0.3s ease; 
  }
  
  .swiper-pagination-bullet-active {
    background: #CA1E1E; /* Warna titik aktif */
    transform: scale(1.2); /* Ukuran titik aktif lebih besar */
  }
  